<!-- templates/home.html -->
{% extends 'users/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

	<div class="alert alert-success" role="alert">

		<h4 class="alert-heading">WELCOME!!{{user.username}}!</h4>

		<p>Now you can post your articles and news in your accounts.</p>

		<hr>

		<p class="mb-0">All the best for you!!.</p>

	</div>

	<p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}

	<br><div class="alert alert-success" role="alert">

		<h4 class="alert-heading">WELCOME TO NEWSPAPER!</h4>
		<p>This is the simple blog and articles website.You can join the website by click in sign up button and write your news articles in your account.</p>
		<hr>
		<p class="mb-0">Created By-> Suraj Karki.</p>
	</div>

{% endif %}

{% endblock content %}